/*Buttons*/
.create-button {
    -fx-background-color: #114FA6;
    -fx-background-radius: 8, 7, 6;
}

.update-button {
    -fx-background-color: #BFB719;
    -fx-background-radius: 8, 7, 6;
}


.delete-button {
    -fx-background-color: #BF3322;
    -fx-background-radius: 8, 7, 6;
}


.confirm-button {
    -fx-background-color: #F26101;
    -fx-background-radius: 8, 7, 6;
}

