
.sidebar-button {
    -fx-background-color: #FFF;
    -fx-background-radius: 5;
    -fx-text-fill: #495260;
}

.sidebar-button:hover {
    -fx-background-color: #8AA8B0;
    -fx-text-fill: #687080;
    -fx-fill: #495260;
}

.sidebar-button-selected {
    -fx-background-color: #DEDEDE;
    -jfx-button-type: RAISED;
    -fx-text-fill: #F26101;
    -fx-background-radius: 5;
}

.sidebar-svg-notchosen {
    -fx-fill: #495260;
}

.sidebar-svg {
    -fx-fill: #F26101;
}

.user-space {
    -fx-background-color: #DEDEDE;
    -fx-background-radius: 13;
}