/*
Colors:
grey-light:#f4f5f7
grey: #495260
*/

.sidebar-button {
    -fx-background-color: #fff;
    -fx-background-radius: 5;
}

.sidebar-button:hover {
    -fx-background-color: #f4f5f7;
    -fx-text-fill: #495260;
}


.user-space {
    -fx-background-color: #f4f5f7;
    -fx-background-radius: 13;
}