/*
Colors:
Main color = #3549B0

Create = #2CB046
Update = #B08D23
Delete = #B04656
OK = #233BB0

DarkBlue- #29487D
FB color - #3C5898
Light blue - #9CB2CE
Grey- #D4D8E8
Almost white - #FEFEFE
*/
/*Main*/
.main-window {
    -fx-background-color: #E1E2E1;
}

.main-grid {
    -fx-background-color: #E1E2E1;
}

.top-panel {
    -fx-background-color: #00c853;
    /*-fx-background-color: linear-gradient(from 25% 75% to 100% 60%, #00c853, #5efc82);*/
}

.texto-topPanel {
    -fx-text-fill: #fff;
}

.pruebas {
    -fx-background-color: #66ffa6;
}

