.jfx-tab-pane .headers-region {
    -fx-background-color: #FFF;
    -fx-text-fill: #fff;
    -fx-stroke: #F26101;

}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #FFF;
    -fx-text-fill: #fff;
    -fx-stroke: #F26101;


}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #F26101;
    -fx-stroke-width: 10pt;
    -fx-background-color: #FFF;
}

.jfx-tab-pane {
    -fx-stroke: #F26101;
}